@import "tailwindcss";

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

  .font-lobster {
    font-family: 'Lobster', cursive;
  }
}

@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #38bdf8;
  /* sky blue */
  --color-secondary: #14b8a6;
  /* teal */
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Responsive Swiper Navigation Arrow Sizes */
.swiper {
  /* Default for very small screens (320px and below) */
  --swiper-navigation-size: 22px !important;
}

/* Medium Mobile */
@media (min-width: 375px) {
  .swiper {
    --swiper-navigation-size: 24px !important;
  }
}

/* Large Mobile */
@media (min-width: 425px) {
  .swiper {
    --swiper-navigation-size: 28px !important;
  }
}

/* Tablet */
@media (min-width: 768px) {
  .swiper {
    --swiper-navigation-size: 32px !important;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .swiper {
    --swiper-navigation-size: 44px !important; /* Swiper default */
  }
}